h1
{
text-align:center;
}
p
{
    text-align:justify;
}
.number-list
{
    margin-left:40px;
}
.list
{
    margin-left:25px;
    text-align: justify;
}
ul li
{
    text-align: justify;
}
.number-list
{
    text-align: justify;
}


